---
title: "LGBTQIA+ online experiences"
layout: splash
permalink: /
author_profile: false
header:
  overlay_image: /assets/images/pride_crop.jpeg
  overlay_filter: 0.45
  overlay_color: "#4a4a4a"
  caption: ""
excerpt: "Research project exploring social media use, online experiences, and well-being among LGBTQIA+ people."
actions:
  - label: "Participate in the survey"
    url: "https://uva.fra1.qualtrics.com/jfe/form/SV_cAyrM3syhnVgVpQ"
  - label: "Start Data Donation"
    url: "/data-donation/"
intro:
  - excerpt: "<strong>TThank you for visiting our study website.</strong>"
feature_row:
  - title: "About the Study"
    excerpt: "Learn more about the purpose of the project, what participation involves, and why this research matters."
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - title: "Data Donation"
    excerpt: "Find out what the data donation component involves and how to take part."
    url: "/data-donation/"
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - title: "Platform Instructions"
    excerpt: "Read the step-by-step instructions for Instagram, TikTok, and YouTube."
    url: "/instagram/"
    btn_label: "View Instructions"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

<h2>Welcome</h2>
What does participation involve?Permalink

<p>
  Welcome to the study about **online experiences of LGBTQIA+ people**, of the Faculty of Social and Behavioural Sciences of the University of Amsterdam (FMG-17586_2025).
</p>

<h3>What does participation involve?</h3>
<p>
  This study consists of two parts. 
  The first part is a 10-15min survey and the second part a data donation component. 

 <strong> 1. Survey</strong>
  You may already have completed the first part of this project. If you have not yet taken part in the survey, you can do so here:
  <a href="https://uva.fra1.qualtrics.com/jfe/form/SV_cAyrM3syhnVgVpQ"> participate in the survey</a>. 
  The first page of the survey provides all the information about your participation and how your data will be handled.  
</p>

<p>
   <strong> 2. Data Donation</strong>
  If you have already completed the survey and signed up for the second part of this project, this website will guide you through all the steps of the <strong>data donation component</strong>.
</p>

<p>
  Participation in social media data donation helps us build a more complete and meaningful understanding of LGBTQIA+ online experiences.
</p>

{% include feature_row %}
